.container {
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    max-width: 90%;
    height: 90vh;
    background-color: #2a2a2a;
    color: #F5F5F5aa;
    font-weight: 300;
    display: block;
    flex-direction: column;
    aspect-ratio: 1/1.414;
    margin: 5vh auto;
    padding: 1.25rem 1.4rem;
}

header {
    padding: 0.6rem 1rem;
}

h1 {
    font-size: 2.5rem;
    color: #d5d5d5;
    font-weight: 300 !important;
    line-height: 1.2;
    margin: 0;
    padding: 0;
}

h5 {
    font-size: 1rem;
    color: #ffffff60;
    font-weight: 300 !important;
    line-height: 1.2;
}

.resume_body {
    display: grid;
    grid-template-columns: repeat(16, minmax(0, 1fr));
    grid-gap: 0.6rem;
}

.section_container {
    background-color: #212121a1;
    border-radius: 0.25rem;
    padding: 1.5rem 1.25rem;
}

.minor_section {
    grid-column: span 6 / span 6;
    word-break: break-all;
}

.major_section {
    grid-column: span 10 / span 10;
    word-break: break-all;
}

.field_header {
    font-size: 0.8rem;
    color: #ffffff40;
    font-weight: 400 !important;
    line-height: 1.2;
    margin: 0;
    padding: 0;
}

.field_container:not(:last-child) {
    margin-bottom: 1.2rem;
}

.field_header_underline {
    width: 2rem;
    height: 3px;
    background-color: #ffffff10;
    margin: 0.2rem 0 0.3rem;
}