.mt1 {
    margin-top: 0.25rem;
}

.mt2 {
    margin-top: 0.5rem;
}

.mt3 {
    margin-top: 0.75rem;
}

.mt4 {
    margin-top: 1rem;
}

.mt5 {
    margin-top: 1.25rem;
}

.mt6 {
    margin-top: 1.5rem;
}

.mt7 {
    margin-top: 1.75rem;
}

.mt8 {
    margin-top: 2rem;
}

.mb1 {
    margin-bottom: 0.25rem;
}

.mb2 {
    margin-bottom: 0.5rem;
}

.mb3 {
    margin-bottom: 0.75rem;
}

.mb4 {
    margin-bottom: 1rem;
}

.mb5 {
    margin-bottom: 1.25rem;
}

.mb6 {
    margin-bottom: 1.5rem;
}

.mb7 {
    margin-bottom: 1.75rem;
}

.mb8 {
    margin-bottom: 2rem;
}

.my2 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.my4 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.my6 {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}